{% extends 'blog/base.html' %}
{% block title %}Это мой блог{% endblock %}
{% block content %}
    <a href="{% url 'blog:post_filter' action=1 %}"><button>Свежие</button></a>
    <a href="{% url 'blog:post_filter' action=2 %}"><button>Старые</button></a>
    <a href="{% url 'blog:post_read_filter' status='read' %}"><button>Прочитанные</button></a>
    <a href="{% url 'blog:post_read_filter' status='unread' %}"><button>Непрочитанные</button></a>
    {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h2>
        <p class="date">{{ post.author }} опубликовал пост {{ post.published }}</p>
    {% endfor %}
    {% include 'blog/paginator.html' with page=page_obj %}
{% endblock %}
{% block super %}{% endblock %}