{% extends 'users/base.html' %}

{% block title %} Профиль {{ profile.user.username }}{% endblock %}

{% block content%}
    <h1>Это профиль {{ profile.user.username }}</h1>
    <div class="profile-info">
        <p>А это фото профиля</p>
        <img src="{{ profile.icon.url }}" alt="icon" height="100" width="100">
        {% with total_followers=profile.followers.count %}
        <br>
        <p>О пользователе: {{ profile.about }}</p>
        <p>День рождения пользователя {{ profile.birthday }}</p>
        <span class="count">
            <span class="total">
               Всего подписчиков: {{ total_followers }}
            </span>
        </span>
        {% if request.user != profile.user %}
            <form action="{% url 'users:user_follow' %}" method="post">
                {% csrf_token %}
                {% if request.user in profile.followers.all %}
                <input type="hidden" name="profile_id" value="{{ profile.id }}">
                <button id="unfollow-btn" type="submit" class="unfollow">unfollow</button>
                {% else %}
                <input type="hidden" name="profile_id" value="{{ profile.id }}">
                <button id="follow-btn" type="submit" class="follow">follow</button>
                {% endif %}
            </form>
        {% endif %}
    </div>
    {% endwith %}
    <p>Добро пожаловать хптьфу</p>
    {% if request.user == profile.user %}
    <a href="{% url 'users:personal_feed' request.user %}  ">Новости</a>
    <a href="{% url 'users:user_edit' request.user %}">Редактирование</a>
    {% endif %}
{% endblock %}